<img class="full-width-banner" src="<%= asset_path("new_arrivals.jpg") %>" alt="new arrivals banner">

<div class="section" id="catalogue">
  <h2>Каталог</h2>
  <div class="items-grid">
    <% @items.each do |item| %>
      <%= render partial: "items/item", locals: { item: item } %>
    <% end %>
  </div>
</div>

<div class="section" id="about" style="margin-bottom: 2% !important">
  <h2>О компании</h2>
</div>

<div class="image-with-text parallax-container">
  <img class="full-width-banner" src="<%= asset_path("about_smaller.jpg") %>" alt="about banner">
  <div class="on-image-text">
    <div class="parallax-text">
      <h2 class="mb-sm title-lg">КРЕАТИВ ЭЛЕКТРОНИК ТЕХНОЛОДЖИ</h2>
      <h3 class="mt-sm title-md text-semi-bold">Импорт доступной техники из Китая</h3>

      <ul class="custom-list">
        <li><i class="fa-solid fa-gem"></i>Качество с 2023 года</li>
        <li><i class="fa-solid fa-user"></i>Опытная команда</li>
        <li><i class="fa-solid fa-network-wired"></i>Актуальные технологии</li>
        <li><i class="fa-solid fa-hand"></i>Надёжность и сервис</li>
      </ul>
    </div>
  </div>
</div>
<div class="section" id="payments">
  <h2>Оплата и доставка</h2>
  <p class="mt-sm mb-md title-sm">Для того, чтобы оформить заказ, оставьте ваши <b>контактные данные</b>:</p>

  <%= form_with model: @order_request do |form| %>
    <p><%= form.text_field :first_name, placeholder: 'Имя', class: 'form-text-field' %>
       <%= form.text_field :last_name, placeholder: 'Фамилия', class: 'form-text-field' %></p>
    <p><%= form.text_field :email, placeholder: 'Email', class: 'form-text-field' %>
       <%= form.text_field :phone, placeholder: 'Телефон', class: 'form-text-field' %></p>

    <p>
      <%= form.submit "Отправить!", class: 'button text-semi-bold' %>
    </p>
  <% end %>
</div>

<div class="section" id="contacts">
  <h2>Контакты</h2>
  <p class="title-sm mb-sm">Телефон: +7 (901) 185-22-70</p>
  <p class="title-sm mt-sm mb-md">Почта: info@createhnology.ru</p>

  <div class="map-card mb-md">
    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A0b15c7b32d75b8fa7a346864586e5963f770da743f858a0093bb94e7619a5be3&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
    <div class="on-map-text">
      <p class="mb-sm title-sm">м. Нагатинская, Варшавское шоссе 39Бс1, 115434</p>
      <h3 class="mt-sm">пн–сб 10:00–19:00</h3>
    </div>
  </div>
</div>
