<div class="section mt-lg">
  <div class="item-info-block">
    <p class="item-title"><%= @item.name %></p>
    <p class="item-article">Артикул <%= @item.article %></p>

    <p class="mt-lg item-description">
      <%= @item.description %>
    </p>
  </div>

  <div class="item-right-image">
    <% if @item.image_paths.present? %>
      <img src="<%= asset_path(@item.image_paths.first) %>" alt="<%= @item.name %>">
    <% end %>
  </div>
</div>

<div class="section mt-lg">
  <div class="new-review-form">
    <p class="mt-sm mb-md title-sm">Оставьте ваш отзыв:</p>

    <%= form_with url: item_reviews_path(@item), scope: :review, local: true do |form| %>
      <div class="star-rating">
        <% (5).downto(1).each do |i| %>
          <%= form.radio_button :rating, i, id: "star-#{i}", class: "star-input" %>
          <label for="star-#{i}" class="star-label" data-value="<%= i %>">
            <i class="fa-solid fa-star"></i>
          </label>
        <% end %>
      </div>

      <p><%= form.text_field :first_name, placeholder: 'Имя*', class: 'form-text-field' %>
        <%= form.text_field :last_name, placeholder: 'Фамилия', class: 'form-text-field' %></p>
      <p><%= form.text_field :email, placeholder: 'Email*', class: 'form-text-field' %>
        <%= form.text_field :comment, placeholder: 'Текст отзыва*', class: 'form-text-field' %></p>
      <p>
        <%= form.submit "Отправить!", class: 'button text-semi-bold' %>
      </p>
    <% end %>
  </div>
  <h3>Последние отзывы на товар <%= @item.name %></h3>

  <% if @reviews.any? %>
    <div class="mt-md reviews">
      <% @reviews.each do |review| %>
      <div class="review">
        <div class="review-contents">
          <p class="review-user-name mt-sm mb-sm"><%= review.user_name %></p>
          <div class="review-stars mt-sm mb-md">
            <%= render_stars(review.rating.to_i) %>
          </div>
          <%= review.comment %>
        </div>
      </div>
      <% end %>
    </div>
  <% else %>
    <div class="null-state-text">
      <div class="title-sm">
        <p class="mt-sm">Пока никто не оставил отзыв. Станьте первым!</p>
      </div>
    </div>
  <% end %>
</div>
