<!DOCTYPE html>
<html>
<head>
  <title>Creative Technologies Catalogue</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="header-line">&nbsp;</div>
  <nav class="navbar">
    <div class="logo">
      <a href="/"><%= image_tag 'logo.svg', alt: 'Creative Electronic Technology' %></a>
    </div>
    <div class="nav-title">
      <p class="nav-element-text text-bold">
        <%= link_to 'Creative Electronic Technology', root_path %>
      </p>
    </div>
  </nav>

<div class="container mt-md ">
  <h1>Hello!</h1>
  <% if flash[:notice].present? %>
    <p class="mb mt message message-notice"><%= flash[:notice] %></p>
  <% elsif flash[:alert].present? %>
    <p class="mb mt message message-alert"><%= flash[:alert] %></p>
  <% end %>

  <%= yield %>
</div>
</body>
