<!DOCTYPE html>
<html>
<head>
  <title>Creative Technologies Catalogue</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="container mt-lg ">
  <div class="navbar">
    <p class="text-sm text-bold"><%= link_to 'CREATEHNOS', root_path %></p>
  </div>


  <h1>Hello!</h1>
  <% if flash[:notice].present? %>
    <p class="mb mt message message-notice"><%= flash[:notice] %></p>
  <% elsif flash[:alert].present? %>
    <p class="mb mt message message-alert"><%= flash[:alert] %></p>
  <% end %>

  <%= yield %>
</div>
</body>
